/* Regole generali */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.flex {
  display: flex;
}

.fl-right {
  float: right;
}

:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Colori background/img */

.back-lime {
  background-color: #69bf14;
  color: white;
}

.lightblue {
  background-color: #1975c0;
  color: white;
  text-align: center;
}

.back-img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Stile titoli */
.bolder {
  font-weight: bolder;
}

h1 {
  font-size: 60px;
  padding: 5px;
}

h2.lime {
 color: #69bf14;
 font-size: 40px;
 padding: 20px;
}

.pop-up  h2 {
  font-size: 40px;
  padding: 10px;
  border-bottom: 1px solid white;
}

.lightblue h3 {
  padding-left: 10px;
  letter-spacing: 2px;
}

.block h3 {
  color: #1975c0;
  font-size: 22px;
}

h4.grey {
  color: grey;
  padding: 20px;
}

.pop-up h4 {
  padding-top: 30px;
  padding-bottom: 10px;
}

p {
  line-height: 30px;
}

/* Spazi e allineamenti */

.pd-100 {
  padding-top: 100px;
}

.space-around {
  justify-content: space-around;
}

/* HEADER */

nav.flex {
  height: 50px;
  line-height: 50px;
  justify-content: space-between;
  padding-left: 20px;
}

/* MAIN */

.jumbotron {
  min-height: 450px;
  background-image: url(../img/avada-movers-homeherobackground-final.jpg);
}

.menu li {
  display: inline-block;
  padding-right: 10px;
  color: white;
  font-size: 13px;
}

.logo {
  padding-top: 30px;
}

.menu.label li {
  color: black;
  font-weight: bolder;
  padding-right: 50px;
  padding-top: 15px;
  font-size: 16px;
}

.menu.label li:hover {
  color: #5aa510;
}

.container-payoff {
  width: 100%;
  height: calc(450px - 70px);
  align-items: center;
}

.title {
  width: 70%;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  margin: 0 auto;
}

.awards {
  padding-top: 60px;
  background-color: #f9fbfc;
}

section.lightblue {
  min-height: 150px;
  align-items: center;
}

.block {
  min-width: 380px;
  background-color: #f2f5f8;
  text-align: center;
}

.block > .title {
  background-color: white;
  width: 90%;
  padding: 15px;
}

.block > img {
  width: 350px;
  height: auto;
  padding: 15px 0;
  transition: all 1s ease;
}

.block > img:hover {
  width: 380px;
  height: auto;
}

.quote {
  height: 650px;
  background-image: url(../img/avada-movers-movewithease-background-new.jpg);
  background-position: center left;
}

.CTA {
  border-radius: 15px;
  border: 1px solid #1975c0;
  padding: 15px 30px;
  font-size: 16px;
  margin: 20px 0;
  font-weight: bolder;
}

.CTA:hover {
  opacity: 0.8;
}

.pop-up {
  max-width: 45%;
  margin-top: 90px;
  margin-right: 40px;
  color: white;
  text-align: center;
  border: 15px solid #5aa510;
}

.pop-up p {
  padding-top: 30px;
  padding-bottom: 10px;
}

.testimonials {
  background-image: url(../img/avada-movers-testimonial-background.jpg);
}

.testimonials img {
  border-radius: 50%;
  width: 150px;
}

.testimonials p {
  font-style: italic;
}

.free {
  min-height: 400px;
  background-image: url(../img/avada-movers-request-quote-background.jpg);
  border-bottom: 15px solid #5aa510;
}

/* FOOTER */

footer .block {
  background-color: white;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 30px;
  margin-right: 40px;
}

footer .block li {
  padding: 10px;
}

footer .block li:hover {
  color: #5aa510;
}

footer .block.last li {
  padding: 18px;
}

footer .block h2 {
  padding: 40px 0;
}

footer .block img {
  width: 200px;
}

footer .menu.back-lime {
  text-align: center;
  font-size: 14px;
  padding: 30px 0;
}

footer .menu.back-lime li {
  padding-bottom: 10px;
}
