<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project HTML & Vue js</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- AXIOS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <!-- RESPONSIVE -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONTAWASOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- Container Vue -->
    <div id="app">

      <!-- Header -->
      <header>
        <!-- Navbar con contatti e social -->
        <nav class="back-lime flex">
          <!-- Call us -->
          <div class="menu left">
            <ul>
              <li v-for="item in callUs">
                <a :href="item.link"></a>
                <i :class="item.tel"></i>
                {{ item.contact }}
              </li>
            </ul>
          </div>
          <!-- Social -->
          <div class="menu">
            <ul>
              <li v-for="item in social">
                <a :href="item.link"></a>
                <i :class="item.name"></i>
              </li>
            </ul>
          </div>
        </nav>
        <!-- Sezione jumbotron all'interno dell'header -->
        <div class="jumbotron back-img">
          <!-- Navbar con logo, sezioni del sito e CTA -->
          <nav class="flex">
            <!-- Logo -->
            <div class="logo">
              <img :src="logo" alt="logo avada">
            </div>

            <!-- Menu -->
            <div class="menu label">
              <ul>
                <li v-for="menuItem in menuList">
                  <a :href="menuItem.link"></a>
                  {{ menuItem.label  }}
                </li>
                <li>
                  <button type="button" name="button" class="CTA lightblue">
                    <a href="#"></a>
                    {{ cta }}
                  </button>
                </li>
              </ul>
            </div>
          </nav>

          <!-- Contenitore payoff -->
          <div class="container-payoff flex">
            <div class="title">
              <h4 class="grey bolder">MOVING WITHOUT THE HASSLE</h4>
              <h1 class="bolder"> WE MAKE IT SIMPLE </h1>
              <h4 class="grey bolder">PROFESSIONAL SERVICE WITH QUALITY AND CUSTOMER SATISFACTION</h4>
            </div>
          </div>
        </div>
      </header> <!-- fine HEADER -->

      <!-- Corpo della pagina -->
      <main>
        <!-- Sezione azzurra con CTA -->
        <section class="lightblue flex">
          <div class="title flex">
            <i class="far fa-paper-plane">
            </i>
            <h3>GET A FREE QUOTE ONLINE NOW!
            </h3>
          </div>
        </section> <!-- fine sezione azzurra -->

        <!-- Sezione premi -->
        <section class="awards">
          <div class="title">
            <h4 class="grey bolder">HEADACHE FREE</h4>
            <h2 class="lime bolder">Award Winning <br>Moving Company</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac augue. Orci varius natoque penatibus et magnis dis parturient montes, ridiculus mus. Aliquam enim leo, condimentum facilisis nulla sed, cursus arcu.<br>Aliquam enim leo.</p>
            <button type="button" name="button" class="CTA lightblue">READ OUR TESTIMONIALS</button>
          </div>
        </section> <!-- fine sezione premi -->

        <!-- Sezione servizi offerti -->
        <section class="space-around pd-100">
          <div class="title">
            <h4 class="grey bolder">WE ARE A PROFESSIONAL</h4>
            <h2 class="lime bolder">Full-Service Solution</h2>
          </div>

          <div class="space-around flex">
            <!-- Blocco Two Man Teams -->
            <div class="block zoom">
              <img src="img/avada-movers-serviceonephoto-final-400x255.jpg" alt="">
              <div class="title">
                <h3 class="bolder">Two Man Teams</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac consectetur augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                <button type="button" name="button" class="CTA lightblue">READ MORE
                </button>
                </div>
              </div>

            <!-- Blocco We do all the lifting  -->
            <div class="block zoom">
              <img src="img/avada-movers-servicetwophoto-final-400x255.jpg" alt="">
              <div class="title">
                <h3 class="bolder">We Do All The Lifting</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac consectetur augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                <button type="button" name="button" class="CTA lightblue">READ MORE
                </button>
              </div>
            </div>

            <!-- Blocco Coast to Coast  -->
            <div class="block zoom">
              <img src="img/avada-movers-servicethreephoto-final-400x255.jpg" alt="">
              <div class="title">
                <h3 class="bolder">Coast to Coast</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac consectetur augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                <button type="button" name="button" class="CTA lightblue">READ MORE
                </button>
              </div>
            </div>
          </div>
        </section> <!-- fine sezione servizi -->

        <!-- Sezione richiesta preventivi -->
        <section class="back-img quote pd-100">
          <div class="pop-up fl-right back-lime">
            <div class="title">
              <h4 class="bolder">WE REMOVE THE HEADACHE FROM MOVING</h4>
              <h2 class="bolder">Move With Ease</h2>
              <p>With our super simple service we can take you from getting a quote, right through to being in your new home with all of your belongings securely packed and safely delivered, even in the rooms of your choice.</p>
              <button type="button" name="button" class="CTA lightblue">GET A FREE QUOTE NOW
              </button>
            </div>
          </div>
        </section> <!-- fine sezione richiesta preventivi -->

        <!-- Sezione testimonianze -->
        <section class="back-img testimonials pd-100 space-around">
          <div class="title">
            <h4 class="grey bolder">HAPPY CUSTOMERS</h4>
            <h2 class="lime bolder">Testimonials</h2>
          </div>

          <div class="space-around flex">
            <!-- Testimonianza 1 -->
            <div class="block">
              <img src="img/avada-movers-johndoe-final-200x200.jpg" alt="john doe">
              <div class="title">
                <h3 class="bolder">John Doe</h3>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac consectetur augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus"</p>
              </div>
            </div>

            <!-- Testimonianza 2 -->
            <div class="block">
              <img src="img/avada-movers-janedoe-final-200x200.jpg" alt="jane doe">
              <div class="title">
                <h3 class="bolder">Jane Doe</h3>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac consectetur augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus"</p>
              </div>
            </div>

            <!-- Testimonianza 3 -->
            <div class="block">
              <img src="img/avada-movers-johnsmith-final-200x200.jpg" alt="john smith">
              <div class="title">
                <h3 class="bolder">John Smith</h3>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac consectetur augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus"</p>
              </div>
            </div>
          </div>

          <div class="title">
            <button type="button" name="button" class="CTA lightblue">READ MORE TESTIMONIALS</button>
          </div>
        </section> <!-- fine sezione testimonianze -->

        <!-- Sezione Request A Free Quote -->
        <section class="back-img free pd-100">
          <div class="title">
            <h2 class="lime bolder">Request A Free Quote</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac consectetur augue. Orci varius natoque <br> penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <div class="title">
              <button type="button" name="button" class="CTA lightblue">CLICK HERE
              </button>
            </div>
          </div>
        </section>

      </main> <!-- fine MAIN -->

<!-- FOOTER -->
      <footer>
      <!-- Contenitore tre colonne footer  -->
        <div class="flex">
          <!-- About -->
          <div class="block">
            <h2 class="bolder">{{ footer[0].title }}</h2>
            <p>{{ footer[0].description }}</p>
            <img :src="logo" alt="logo avada movers">
          </div>

          <!-- Avada Movers -->
          <div class="block">
            <h2 class="bolder">{{ footer[1].title }}</h2>
            <ul>
              <li v-for="(item, index) in footer[1].list">{{ item.label }}</li>
            </ul>
          </div>

          <!-- Recent post -->
          <div class="block last">
            <h2 class="bolder">{{ footer[2].title }}</h2>
            <ul>
              <li v-for="(item, index) in footer[2].postlist">{{ item.label }}</li>
            </ul>
          </div>
        </div>

        <!-- Credits -->
        <div class="menu back-lime">
          <ul>
            <li v-for="item in credits">{{ item }}</li>
          </ul>
          <ul>
            <li v-for="item in social">
              <a :href="item.link"></a>
              <i :class="item.name"></i>
            </li>
          </ul>
        </div>
      </footer> <!-- fine FOOTER -->


    </div> <!-- fine contenitore app -->

    <!-- Javascript -->
    <script type="text/javascript" src="js/script.js">
    </script>
  </body>
</html>
